@model Destino
@{
    ViewData["Title"] = "Agregar Destino";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Agregar" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" required />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>